header {
    background-color: var(--maximum-yellow-red);
    height: 45px;
}

header .container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header  h1 {
    text-align: center;
    color: var(--prussian-blue);
    margin: 0px;
    align-self: center;
}

header  i {
    font-size: 20pt;
    cursor: pointer;
}

body {
    background-color: var(--prussian-blue);
    margin: 0px;
}

.content.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    position: fixed;
    height: calc(100% - 45px);
    width: 100%;

    color: var(--lemon-meringue);
}

.side-menu {
    display: flex;
    width: 0px;
    background-color: var(--maximum-red);
    flex-grow: 0;
    transition: width 0.5s ease-in-out;
    overflow-x: hidden;
    white-space: nowrap;
}

.side-menu.active {
    display: flex;
    width: 20%;
    flex-grow: 1;
}
.content .document {
    flex-flow: 4;
    width: 100%;
    overflow-y: scroll;
}

.login-form.container {
    display: flex;
    flex-direction: column;
}

.login-form.line {
    flex-direction: row;
}
