header {
    background-color: var(--maximum-yellow-red);
}

header .container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header  h1 {
    text-align: center;
    color: var(--prussian-blue);
    margin: 0px;
    align-self: center;
}

header  i {
    font-size: 20pt;
    cursor: pointer;
}

body {
    background-color: var(--prussian-blue);
    margin: 0px;
}

.side-menu {
    position: fixed;
    height: 100%;
    display: none;
    background-color: var(--maximum-red);
}

.side-menu.active {
    display: block;
    width: 30vh;
}
